/*------------------------------------------------*/
/* GENERAL LAYOUT
/*------------------------------------------------*/
#skthemes_container #of-nav ul {margin-top:0px;}
#skthemes_container #main{background-color:#EFF8FF;border-bottom:1px solid #D1E5EE;border-left:1px solid #D1E5EE;border-right:1px solid #D1E5EE;}
#skthemes_container #content{background-color:#fff;border-left:1px solid #D1E5EE;float:left;font-family:"Lucida Grande", Sans-serif;margin-left:-1px;min-height:550px;width:559px;padding:0 22px;padding-top:5px;}
#skthemes_container #content .section{margin-bottom:25px;}
#skthemes_container{position:relative;width:785px;z-index:0;margin:15px;}
#skthemes_container #header{background:#EFF8FF url(images/admin-bg-grad.jpg) repeat-x left top;border:1px solid #B0C8D7;height:80px;
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}
.save_bar_top{background:#EFF8FF url(images/bg-save-bar.jpg) repeat-x;border:solid #B0C8D7;height:35px;text-align:right;border-width:0 1px 1px;padding:10px 20px 0;
-webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}
#skthemes_container #header .logo{float:left;margin:17px 20px;}
#skthemes_container .option{padding-top:5px;}


/* CONTROLS */
#skthemes_container #content .section-info .controls{-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;background:#FFF298;border:1px solid #ECD852;color:#424242;font-family:Georgia, arial;font-size:14px;font-style:italic;line-height:1.5em;width:auto;margin:0 0 20px;padding:15px 20px;}
#skthemes_container #content .section-checkbox .controls{width:25px !important;}
#skthemes_container #content .section-color .controls{width:125px;}
#skthemes_container #content .section .controls{float:left;width:345px;margin:0 15px 0 0;}
#skthemes_container #content .section-typography .controls{width:425px;}
#skthemes_container #content .mini .explain{width:500px;}
#skthemes_container .controls .of-typography-size,#skthemes_container .controls .of-typography-style,#skthemes_container .controls .of-border-width{float:left;width:80px;}
#skthemes_container .mini .controls select,#skthemes_container #content .section .mini .controls,#skthemes_container .mini .controls input,#skthemes_container #content .mini .controls{width:70px;}


/* EXPLAIN */
#skthemes_container #content .section .explain{color:#999;float:left;font-size:11px;width:185px;padding:0;}
#skthemes_container .group h2{border-bottom:3px solid #DDD;display:none;}
#skthemes_container #content .section-typography .explain{width:120px;}
#skthemes_container #content .section-checkbox .explain{width:500px !important;}
#skthemes_container #content .section-color .explain{width:420px;}
#skthemes_container #content .section-info .controls{float:left;width:517px;margin:0 15px 0 0;}
#skthemes_container #content .section-info .option{padding-top:0px;}


/*------------------------------------------------*/
/* NAVIGATION + LISTS
/*------------------------------------------------*/
#skthemes_container #of-nav{float:left;position:relative;width:180px;z-index:9999;}
#skthemes_container #of-nav li{margin-bottom:0;border-top:1px solid #FFF;}
#skthemes_container #of-nav ul li a:link,#of-nav ul li a:visited{border-bottom:1px solid #D1E5EE;border-right:1px solid #D1E5EE;color:#21759B;display:block;font-family:Georgia, Serif;font-size:13px;text-decoration:none;padding:15px 10px 12px 36px;outline:none;}
#skthemes_container #of-nav ul li.current a,#skthemes_container #of-nav ul li.current a:hover{
background:#fff;
border-right:1px solid #FFF;
color:#333;
}
#skthemes_container #of-nav ul li a:hover{color:#D64E21;}


/* GENERAL SETTINGS */
#skthemes_container #of-nav ul li #item1 {background:url(images/bg-icn.png) -179px 0 no-repeat;}
#skthemes_container #of-nav ul li #item1:hover {background:url(images/bg-icn.png) -358px 0 no-repeat;}
#skthemes_container #of-nav ul li.current #item1, #skthemes_container #of-nav ul li.current #item1:hover {background: #FFF url(images/bg-icn.png) -358px 0 no-repeat;}

/* BLOG SETTINGS */
#skthemes_container #of-nav ul li #item2 {background:url(images/bg-icn.png) -179px -180px no-repeat;}
#skthemes_container #of-nav ul li #item2:hover {background:url(images/bg-icn.png) -358px -180px no-repeat;}
#skthemes_container #of-nav ul li.current #item2, #skthemes_container #of-nav ul li.current #item2:hover {background: #FFF url(images/bg-icn.png) -358px -180px no-repeat;}

/* STYLING OPTIONS */
#skthemes_container #of-nav ul li #item3 {background:url(images/bg-icn.png) -179px -45px no-repeat;}
#skthemes_container #of-nav ul li #item3:hover {background:url(images/bg-icn.png) -358px -45px no-repeat;}
#skthemes_container #of-nav ul li.current #item3, #skthemes_container #of-nav ul li.current #item3:hover {background: #FFF url(images/bg-icn.png) -358px -45px no-repeat;}

/* INTERFACE OPTIONS */
#skthemes_container #of-nav ul li #item4 {background:url(images/bg-icn.png) -179px -135px no-repeat;}
#skthemes_container #of-nav ul li #item4:hover {background:url(images/bg-icn.png) -358px -135px no-repeat;}
#skthemes_container #of-nav ul li.current #item4, #skthemes_container #of-nav ul li.current #item4:hover {background: #FFF url(images/bg-icn.png) -358px -135px no-repeat;}

/* THEME DESIGNER */
#skthemes_container #of-nav ul li #item5 {background:url(images/bg-icn.png) -179px -450px no-repeat;}
#skthemes_container #of-nav ul li #item5:hover {background:url(images/bg-icn.png) -358px -450px no-repeat;}
#skthemes_container #of-nav ul li.current #item5, #skthemes_container #of-nav ul li.current #item5:hover {background: #FFF url(images/bg-icn.png) -358px -450px no-repeat;}

/* TYPOGRAPHY */
#skthemes_container #of-nav ul li #item6 {background:url(images/bg-icn.png) -179px -90px no-repeat;}
#skthemes_container #of-nav ul li #item6:hover {background:url(images/bg-icn.png) -358px -90px no-repeat;}
#skthemes_container #of-nav ul li.current #item6, #skthemes_container #of-nav ul li.current #item6:hover {background: #FFF url(images/bg-icn.png) -358px -90px no-repeat;}

/* FORM SETTINGS */
#skthemes_container #of-nav ul li #item7 {background:url(images/bg-icn.png) -179px -360px no-repeat;}
#skthemes_container #of-nav ul li #item7:hover {background:url(images/bg-icn.png) -358px -360px no-repeat;}
#skthemes_container #of-nav ul li.current #item7, #skthemes_container #of-nav ul li.current #item7:hover {background: #FFF url(images/bg-icn.png) -358px -360px no-repeat;}

/* UTILITY PAGE SETTINGS */
#skthemes_container #of-nav ul li #item8 {background:url(images/bg-icn.png) -179px -315px no-repeat;}
#skthemes_container #of-nav ul li #item8:hover {background:url(images/bg-icn.png) -358px -315px no-repeat;}
#skthemes_container #of-nav ul li.current #item8, #skthemes_container #of-nav ul li.current #item8:hover {background: #FFF url(images/bg-icn.png) -358px -315px no-repeat;}

/* HOMEPAGE SETTINGS */
#skthemes_container #of-nav ul li #item9 {background:url(images/bg-icn.png) -179px -225px no-repeat;}
#skthemes_container #of-nav ul li #item9:hover {background:url(images/bg-icn.png) -358px -225px no-repeat;}
#skthemes_container #of-nav ul li.current #item9, #skthemes_container #of-nav ul li.current #item9:hover {background: #FFF url(images/bg-icn.png) -358px -225px no-repeat;}

/* JAVASCRIPT SETTINGS */
#skthemes_container #of-nav ul li #item10 {background:url(images/bg-icn.png) -179px 0 no-repeat;}
#skthemes_container #of-nav ul li #item10:hover {background:url(images/bg-icn.png) -358px 0 no-repeat;}
#skthemes_container #of-nav ul li.current #item10, #skthemes_container #of-nav ul li.current #item10:hover {background: #FFF url(images/bg-icn.png) -358px 0 no-repeat;}

/* WOOCOMMERCE SETTINGS */
#skthemes_container #of-nav ul li #item11 {background:url(images/bg-icn.png) -179px -540px no-repeat;}
#skthemes_container #of-nav ul li #item11:hover {background:url(images/bg-icn.png) -358px -540px no-repeat;}
#skthemes_container #of-nav ul li.current #item11, #skthemes_container #of-nav ul li.current #item11:hover {background: #FFF url(images/bg-icn.png) -358px -540px no-repeat;}

/*-------------------------------------------
 TYPOGRAPHY
/*-------------------------------------------*/
#skthemes_container #header .logo h2 {
font-style:normal;
padding-left:50px;
background:url(images/icon_option.png) 0 75% no-repeat;
}

#skthemes_container #content .section h3.heading {
border-bottom:1px solid #DDD;
margin:10px 0;
padding:7px 0;
}

#skthemes_container #content .section-info .controls small,*:first-child+html #skthemes_container #content .section .explain {
font-size:12px;
}


/*-------------------------------------------
 UPDATES + WARNINGS
/*-------------------------------------------*/
.updated,.error {
/**display:none !important;**/
}
#setting-error-tgmpa{
display:none;
}

#skthemes_container #js-warning {
color:red;
float:left;
width:330px;
margin:20px 10px;
}

.js #skthemes_container #js-warning,.hide {
display:none;
}

#skthemes_container .accept {
background:#DBF6BE no-repeat 10px center;
border:solid #9BBF65;
color:#060;
font-weight:700;
text-align:center;
border-width:0 1px 1px;
padding:10px;
}

#skthemes_container .warning {
background:#fee no-repeat 10px center;
border:solid #dfbfbf;
color:#333;
font-weight:700;
text-align:center;
border-width:0 1px 1px;
padding:10px;
}

#skthemes_container .update_available {
background:#FFFEEB no-repeat 10px center;
border:solid #CCC;
color:#333;
font-weight:700;
text-align:center;
border-width:0 1px 1px;
padding:10px;
}

.upload-error {
-moz-border-radius:4px;
-webkit-border:4px;
border-radius:4px;
background:#FFDFEC;
color:#666;
float:left;
font-size:10px;
font-weight:700;
text-decoration:none;
text-shadow:1px 1px 0 #FFF;
margin:0 10px 0 0;
padding:3px 10px;
}

.of-notice {
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
background:#ffd1d1;
border:1px solid #DFA8A7;
margin-bottom:15px;
text-align:center;
}

/*-------------------------------------------
 INPUT ELEMENTS
/*-------------------------------------------*/
#skthemes_container .controls select {
width:340px;
padding:0 0 0 4px;
}

#skthemes_container .controls textarea {
width:345px;
resize:none;
}

#skthemes_container input[type=text] {
width:340px;
}

#skthemes_container .controls .of-typography-unit {
float:left;
width:50px;
}

#skthemes_container .controls .of-typography-face {
float:left;
width:100px;
}

#skthemes_container .controls .of-radio-img-img {
border:3px solid #fff;
cursor:pointer;
display:none;
float:left;
margin:0 5px 10px 0;
}

#skthemes_container .controls .of-radio-img-selected {
border:3px solid #ccc;
}

#skthemes_container .controls .of-radio-img-img:hover {
opacity:.8;
}

#skthemes_container .controls .of-border-style {
float:left;
width:120px;
}

#skthemes_container .controls input:focus,#skthemes_container select:focus,#skthemes_container textarea:focus {
background:#fff;
}

#skthemes_container textarea,#skthemes_container input,#skthemes_container select {
-moz-border-radius:4px;
-webkit-border:4px;
border-radius:4px;
border-style:solid;
border-width:1px;
}

#skthemes_container .controls input,#skthemes_container .controls select,#skthemes_container .controls textarea {
background-color:#F4F4F4;
border:1px solid;
font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
font-size:12px;
margin-bottom:9px;
width:340px;
border-color:#ccc #e6e6e6 #e6e6e6 #ccc;
padding:4px;
}

#skthemes_container .section-radio .controls input {
margin-bottom:1px !important;
}

#skthemes_container .controls .checkbox {
margin-bottom:0px !important;
}

#skthemes_container .controls .input-text-small {
margin-right:10px;
width:60px;
}

#skthemes_container input.checkbox,#skthemes_container input.of-radio {
width:30px;
}

#skthemes_container .controls .checkbox {
background-color:#FFF !important;
border:0 !important;
}

#skthemes_container .section-select select {
height:35px;
}

/*-------------------------------------------
 CONTROLS + BUTTONS
/*-------------------------------------------*/
.reset-button {
float:left;
}

.ajax-loading-img-top {
float:left;
margin:8px 4px 0;
}

#skthemes_container .of-save-popup {
background:url(images/accept-bg.png) 0 0 no-repeat;
color:#fff;
display:none;
font-size:24px;
width:297px;
height:78px;
position:absolute;
text-align:center;
}

#skthemes_container .of-save-save {
background:url(images/accept.png) 20px 50% no-repeat;
padding:30px 30px 30px 70px;
}

#skthemes_container .of-save-reset {
background:url(images/warning.png) 20px 50% no-repeat;
padding:30px 30px 30px 70px;
}

.upload_button_div {
margin-bottom:10px;
}

.upload_button_div .button {
cursor:pointer;
/* padding:4px 14px; removed since WP3.5 */ 
}

.upload_button_div .image_reset_button {
margin-left:10px;
}

#skthemes_container .button-primary {
-moz-border-radius:4px;
-webkit-border:4px;
border-radius:4px;
margin:0;
}

/*-------------------------------------------
 MISC
/*-------------------------------------------*/
#skthemes_container .meta-two {
margin-right:10px;
}

#skthemes_container .controls .of-color {
float:left;
margin-left:5px;
width:80px;
}

#skthemes_container .group {
padding-bottom:20px;
}

.of-option-image {
max-width:340px;
}

#skthemes_container #content .section-info .controls {
line-height:25px;
float:left;
width:517px;
}

#skthemes_container #content .section-info .controls em {
color:#888;
}


/*-------------------------------------------
 IE SPECIFIC
/*-------------------------------------------*/
*:first-child+html .reset-button {
margin-top:-24px;
}

*:first-child+html #skthemes_container .of-save-save,*:first-child+html #skthemes_container .of-save-reset {
padding:30px 30px 30px 65px;
}

#main, a, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, #media-items a.delete-permanently, .plugins a.delete, .ui-tabs-nav a, .plugins .inactive a{transition-duration:none; transition-property:none; transition-timing-function:none; background-position:none; line-height:100%; }

